body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(223, 218, 218);
}

.divider{
    border-bottom: 1px solid #888989;
    margin: 1px 0;
    padding: 10;
    max-width: 600;
  }

.schedule{
  border: 3px solid black;
  max-width: 500px;
  min-width: 300px;
  padding: 5 10;
  background:rgba(100,50,100,20%);
}

h2{
  text-decoration: underline;
  margin:0;
  padding-top: 0;
  padding-bottom: 20;
  text-align: center;
}

.td:n-child(3){
  text-align: right;
}

table{
  width: 100%;
}

